In [34]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option("display.max_colwidth", 1000)

import re

import nltk
nltk.download('stopwords')
  
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Weihua\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [2]:
df = pd.read_csv("all_projects.csv")
df.head()

              advisor               author project_format                                              title  year
0    BELFORD, BARBARA       AARON, KENNETH          PRINT                THE DECLINE OF THE GARMENT DISTRICT  1995
1   ROSENBLATT, ROGER         AGEE, AMANDA          PRINT                                  WOMEN BEHIND BARS  1995
2      SVOBODA, WAYNE   ALMEIDA, MIGUEL F.          PRINT   BRAZUCAS IN NEW YORK, THE STRUGGLES OF A FRAG...  1995
3       HOYT, MICHAEL        AMES,BENJAMIN          PRINT   THE PRIVATIZATION OF SERVICES IN NEW YORK CIT...  1995
4        SHIPP, E. R.           AMIN, RULA          PRINT          PALESTINIAN AMERICANS AND THE PEACE TALKS  1995

In [3]:
df.shape

(5414, 5)

In [4]:
df.dtypes

advisor           object
author            object
project_format    object
title             object
year               int64
dtype: object

In [10]:
df["advisor"] = df["advisor"].str.title()
df["author"] = df["author"].str.title()
df["project_format"] = df["project_format"].str.title()
df["title"] = df["title"].str.title()

In [13]:
df["advisor"] = df["advisor"].str.strip()
df["author"] = df["author"].str.strip()
df["project_format"] = df["project_format"].str.strip()
df["title"] = df["title"].str.strip()

In [21]:
df["title_word_count"] = df["title"].apply(lambda x: len(str(x).split(" ")))
df["title_word_count"].value_counts()

9     457
8     439
10    434
4     405
11    382
7     377
6     370
12    353
3     353
5     351
13    287
2     260
14    216
15    151
16    111
17    105
18     82
19     62
1      54
21     35
20     34
23     19
22     13
24     13
25      8
28      7
26      7
30      5
27      4
32      4
31      3
33      2
36      2
29      2
35      1
34      1
48      1
45      1
43      1
38      1
51      1
Name: title_word_count, dtype: int64

In [22]:
df[df["title_word_count"] == 51]

           advisor             author project_format                                                                                                                                                                                                                                                                                                           title  year  title_word_count
5339  Belkin, Lisa  Moazami, Yassaman          Print  The Perfect Muslim: Beneath The Hijab. Blending Religion And Style. A Look At How Many Muslim Women Feel About Wearing The Hijab, And Gaining More Representation In Mainstream Fashion. No Doubt A Woman'S Hijab Is An External Sign Of Her Religion, But The Strength Of Her Faith Comes From Her Inner-Self  2017                51

In [55]:
df["title_clean"] = df["title"].str.lower().astype(str)

In [56]:
df["title_clean"] = df["title_clean"].str.replace('[^\w\s]','')

In [59]:
stop = stopwords.words('english')
df["title_clean"] = df["title_clean"].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df["title_clean"].head()

0                                        decline garment district
1                                               women behind bars
2      brazucas new york struggles fragmented brazilian community
3    privatization services new york city parks case study queens
4                               palestinian americans peace talks
Name: title_clean, dtype: object

In [79]:
freq = pd.Series(' '.join(df[df.year == 1997]["title_clean"]).split()).value_counts()[:10].reset_index()

       index   0
0        new  47
1       york  26
2      women  16
3       city   9
4      lives   8
5        one   8
6     public   7
7      yorks   7
8  political   6
9      death   6

In [113]:
df_freq_wide = pd.DataFrame()
for i in range(1995, 2018):
    freq = pd.Series(' '.join(df[df.year == i]["title_clean"]).split()).value_counts()[:10].reset_index()
    column_name = str(i) + "_count"
    freq.rename(columns = {"index" : i, 0 : column_name}, inplace = True)

    df_freq_wide = pd.concat([df_freq, freq], axis = 1, sort = False)
df_freq_wide.to_csv("word_freq_wide.csv", index = False)

In [114]:
df_freq_long = pd.DataFrame()
for i in range(1995, 2018):
    freq = pd.Series(' '.join(df[df.year == i]["title_clean"]).split()).value_counts()[:10].reset_index()
    freq["year"] = i
    
    df_freq_long = df_freq_long.append(freq, ignore_index = True, sort = False)
df_freq_long.to_csv("word_freq_long.csv", index = False)

In [115]:
df.to_csv("projects_all_somewhat_clean.csv", index = False)