In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option("display.max_colwidth", 1000)

import re

import nltk
nltk.download('stopwords')
  
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\weihu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df = pd.read_csv("data/all_projects.csv")
df.head()

              advisor               author project_format                                                                          title  year
0    BELFORD, BARBARA       AARON, KENNETH          PRINT                                            THE DECLINE OF THE GARMENT DISTRICT  1995
1   ROSENBLATT, ROGER         AGEE, AMANDA          PRINT                                                              WOMEN BEHIND BARS  1995
2      SVOBODA, WAYNE   ALMEIDA, MIGUEL F.          PRINT        BRAZUCAS IN NEW YORK, THE STRUGGLES OF A FRAGMENTED BRAZILIAN COMMUNITY  1995
3       HOYT, MICHAEL        AMES,BENJAMIN          PRINT   THE PRIVATIZATION OF SERVICES IN NEW YORK CITY PARKS, A CASE STUDY IN QUEENS  1995
4        SHIPP, E. R.           AMIN, RULA          PRINT                                      PALESTINIAN AMERICANS AND THE PEACE TALKS  1995

In [3]:
df.shape

(5414, 5)

In [4]:
df.dtypes

advisor           object
author            object
project_format    object
title             object
year               int64
dtype: object

In [5]:
df["advisor"] = df["advisor"].str.title()
df["author"] = df["author"].str.title()
df["project_format"] = df["project_format"].str.title()
df["title"] = df["title"].str.title()

In [6]:
df["advisor"] = df["advisor"].str.strip()
df["author"] = df["author"].str.strip()
df["project_format"] = df["project_format"].str.strip()
df["title"] = df["title"].str.strip()

In [19]:
df["title_word_count"] = df["title"].apply(lambda x: len(str(x).split(" ")))
# df["title_word_count"].value_counts()

In [20]:
# df[df["title_word_count"] == 51]

In [9]:
df["title_clean"] = df["title"].str.lower().astype(str)

In [10]:
df["title_clean"] = df["title_clean"].str.replace('[^\w\s]','')

In [11]:
stop = stopwords.words('english')
stop.append('new')
stop.append('york')
stop.append('city')
stop.append('yorks')
stop.append('citys')

In [12]:
df["title_clean"] = df["title_clean"].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df["title_clean"].head()

0                             decline garment district
1                                    women behind bars
2    brazucas struggles fragmented brazilian community
3       privatization services parks case study queens
4                    palestinian americans peace talks
Name: title_clean, dtype: object

In [13]:
freq = pd.Series(' '.join(df[df.year == 1997]["title_clean"]).split()).value_counts()[:10000].reset_index()

In [14]:
df_freq_year = pd.DataFrame()
for i in range(1995, 2018):
    freq = pd.Series(' '.join(df[df.year == i]["title_clean"]).split()).value_counts()[:10000].reset_index()
    column_name = str(i) + "_count"
    year_name = str(i) + "_year"
    freq.rename(columns = {"index" : year_name, 0 : column_name}, inplace = True)
    df_freq_year = pd.concat([df_freq_year, freq], axis = 1, sort = False)

df_freq_year.to_csv("data/word_freq_year.csv", index = False)

In [15]:
df_freq_total = pd.Series(' '.join(df["title_clean"]).split()).value_counts().reset_index()
df_freq_total.to_csv("data/word_freq_total.csv", index = False)

In [18]:
# df_freq_year

In [17]:
df_freq_long = pd.DataFrame()
for i in range(1995, 2018):
    freq = pd.Series(' '.join(df[df.year == i]["title_clean"]).split()).value_counts()[:20].reset_index()
    freq["year"] = i
    
    df_freq_long = df_freq_long.append(freq, ignore_index = True, sort = False)


df_freq_long.rename(columns = {"index" : "word", 0 : "count", "year" : "year"}, inplace = True)

df_freq_long.to_csv("data/word_freq_long.csv", index = False)