In [21]:
import pandas as pd

%matplotlib inline

import matplotlib.pyplot as plt
from cycler import cycler

In [5]:
df = pd.read_csv("mta_7_17_4.csv")

In [6]:
top_ten = df[(df.group != "NumberOfItemsclaimed") & (df.group != "NumberOfLostArticles")].sort_values("amount", ascending = False).head(10)

In [10]:
top_ten

     amount                                      group                   item
45    55151                                    Tickets          MTA Metrocard
178   50891  Cell Phone/Telephone/Communication Device            Cell phone
139   49498                               Wallet/Purse                 Wallet
187   46299                             Identification             Debit Card
67    44772                                   Currency                   Cash
167   33471                              Miscellaneous  All Other Misc Items
193   25014                             Identification            Credit Card
202   21561                             Identification        Drivers License
192   19347                             Identification              School ID
118   19290                        Carry Bag / Luggage           Shopping bag

In [29]:
plt.rcdefaults()
plt.rcParams.update({
    'pdf.fonttype': 42,
    'ps.fonttype': 42,
    'xtick.major.size': 0,
    'xtick.minor.size': 0,
    'ytick.major.size': 0,
    'ytick.minor.size': 0,
    
    "font.family" : "sans-serif",

## Make it MBTA colors
    
    "axes.prop_cycle"   : cycler('color', ['#C80000', '#FE6700', '#11773C', '#00009C', '#8D8787', "#B60EA0"]),
    
    "axes.axisbelow"      : True,

    "xtick.minor.visible"  : False,
    "ytick.minor.visible"  : False,

    "date.autoformatter.year"     : "%Y",
    "date.autoformatter.month"    : "%Y-%M",
    "date.autoformatter.day"      : "%Y-%M-%d",


    "grid.color"       :   "white",
    "grid.linestyle"   :   "dashed",
    "grid.linewidth"   :   1,
})

In [2]:
ax = top_ten.plot(x = "item", y = "amount", kind = "bar", rot = 0, figsize = (15, 5), color = "brown")

ax.set_title("Top 10 Things People Left on MTA", pad = 40)
ax.title.set_fontsize(25)

fig = plt.gcf()
fig.text(0.5, 0.9, "As of July 17, 4:30 a.m.", fontsize = "xx-large", ha = "center")

ax.spines["top"].set_visible(False)
ax.spines["right"].set_visible(False)

ax.grid(b = None, which = "major", axis = "y", color = "darkgrey", linestyle = "dashed")


plt.savefig("mta_first_draft.pdf")
plt.show()

NameError: name 'top_ten' is not defined