In [1]:
import pandas as pd

import re

In [2]:
df = pd.read_csv("census_data\detailed_2015\ACS_15_5YR_B16001_with_ann.csv")

In [3]:
df.shape

(2168, 241)

In [4]:
df.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD115,HD02_VD115,HD01_VD116,HD02_VD116,HD01_VD117,HD02_VD117,HD01_VD118,HD02_VD118,HD01_VD119,HD02_VD119
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Speak only English,Margin of Error; Total: - Speak only English,Estimate; Total: - Spanish or Spanish Creole:,Margin of Error; Total: - Spanish or Spanish C...,Estimate; Total: - Spanish or Spanish Creole: ...,...,Estimate; Total: - African languages: - Speak ...,Margin of Error; Total: - African languages: -...,Estimate; Total: - African languages: - Speak ...,Margin of Error; Total: - African languages: -...,Estimate; Total: - Other and unspecified langu...,Margin of Error; Total: - Other and unspecifie...,Estimate; Total: - Other and unspecified langu...,Margin of Error; Total: - Other and unspecifie...,Estimate; Total: - Other and unspecified langu...,Margin of Error; Total: - Other and unspecifie...
1,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",7703,416,5391,361,2087,210,289,...,0,16,16,21,0,16,0,16,0,16
2,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",5107,592,1546,363,3243,537,1712,...,124,100,34,36,0,16,0,16,0,16
3,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",5540,351,2554,368,2771,356,2034,...,75,88,18,28,0,16,0,16,0,16
4,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",5529,505,1837,333,2956,530,1628,...,503,384,119,78,0,16,0,16,0,16

In [5]:
df1 = pd.read_csv("census_data\detailed_2015\ACS_15_5YR_B16001_metadata.csv")

In [6]:
margin = df1[df1.Id.str.contains("Margin of Error")]["GEO.id"].tolist()

In [7]:
len(margin)

119

In [8]:
very_well = df1[df1.Id.str.contains("very well") & ~df1.Id.str.contains("Margin of Error") & ~df1.Id.str.contains("less than")]["GEO.id"].tolist()

In [9]:
df.drop(columns = margin, inplace = True)

In [10]:
df.drop(columns = very_well, inplace = True)

In [11]:
df.shape

(2168, 83)

In [12]:
df.iloc[0] = df.iloc[0].str.replace("Estimate; Total: - ", "")

In [13]:
df.iloc[0] = df.iloc[0].str.replace(": - Speak English less than \"very well\"", " LEP")

In [14]:
df.iloc[0] = df.iloc[0].str.replace(":", "")

In [15]:
df.iloc[0] = df.iloc[0].str.replace("Estimate; ", "")

In [16]:
df.iloc[0] = df.iloc[0].str.replace("Speak only ", "")

In [17]:
header = df.iloc[0]

df = df[1:]

In [18]:
df.rename(columns = header, inplace = True)

In [19]:
df["county"] = df["Geography"].str.extract(r",(.*), New York")

In [20]:
column_names = list(df)[3:-1]

In [21]:
for name in column_names:
    df[name] = df[name].astype(str).astype(int)

In [22]:
df.set_index("Id", inplace = True)

In [23]:
df.head()

,Id2,Geography,Total,English,Spanish or Spanish Creole,Spanish or Spanish Creole LEP,"French (incl. Patois, Cajun)","French (incl. Patois, Cajun) LEP",French Creole,French Creole LEP,...,Hungarian LEP,Arabic,Arabic LEP,Hebrew,Hebrew LEP,African languages,African languages LEP,Other and unspecified languages,Other and unspecified languages LEP,county
Id,,,,,,,,,,,,,,,,,,,,,
1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",7703,5391,2087,1798,7,7,31,31,...,0,8,8,0,0,16,16,0,0,Bronx County
1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",5107,1546,3243,1531,0,0,0,0,...,0,0,0,0,0,158,34,0,0,Bronx County
1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",5540,2554,2771,737,103,29,11,0,...,0,0,0,0,0,93,18,0,0,Bronx County
1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",5529,1837,2956,1328,94,62,11,9,...,0,0,0,0,0,622,119,0,0,Bronx County
1400000US36005001900,36005001900,"Census Tract 19, Bronx County, New York",2376,977,1191,523,55,4,22,17,...,0,0,0,0,0,5,3,0,0,Bronx County

In [24]:
df.drop(columns = ["Id2", "Geography"], inplace = True)

In [25]:
df.to_csv("language_clean.csv")

## Most spoken language

In [33]:
column_names2 = list(df)[1:-1]
df[column_names2].idxmax(axis=1).reset_index().to_csv("incl_en.csv", index = False)

## Most spoken language other than English

In [32]:
column_names3 = list(df)[2:-1]
df[column_names3].idxmax(axis=1).reset_index().to_csv("not_en.csv", index = False)

## Most spoken language other than English and Spanish

In [31]:
column_names3 = list(df)[4:-1]
df[column_names3].idxmax(axis=1).reset_index().to_csv("not_ensp.csv", index = False)